<a href="https://colab.research.google.com/github/zetta-health/exp-curso-python-saude/blob/master/Curso_Python_para_Gest%C3%A3o_de_Sa%C3%BAde_02_python_tipos_de_dados.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Tipos de Dados

Hora de rever os tipos de dados mais comuns e usá-los para facilitar o processo de memorização.

## Inteiro

In [0]:
# Exemplo de inteiro
idade_henrique = 33

In [2]:
print(idade_henrique)

33

### Exercício 01

Crie uma variável chamada 'minha_idade' e atribua um valor inteiro a ela. Depois, use a função 'print' para retornar o valor da variável.

In [0]:
# Crie a varíavel minha idade.
minha_idade = '?'

In [0]:
# Imprima o valor da variável minha idade.

**Clique aqui para a resposta**

<!--
minha_idade = 20 # Exemplo
print(minha_idade)
-->

## Float (Ponto flutuante)

In [0]:
# Valor do Kinder Ovo
kinder_roubo = 7.50 # Atenção. Separação de casas decimais no python é feita com 
                    # '.' e não ',' vírgula.

In [6]:
print(kinder_roubo)

7.5

### Exercício 02

Quantos Kinder roubos podem ser comprados com um salário mínimo em 2020? (Salário mínimo no Brasil é de R$ 1045.00).

In [0]:
# Você pode usar a tabela na seção Operadores lógicos. '/' é o sinal de divisão.
kinder_roubo = 7.50
salario_minimo = 1045.00 
# Complete com sua solução:

**Clique aqui para ver a resposta**
<!--
salario_minimo = 1045.00
n_kinder = salario_minimo / kinder_roubo
print(n_kinder)
-->

## Listas

In [0]:
lista_vazia = []                  # Lista vazia
lista_01 = [1, 3, 5, 7, 9]        # Lista de int
lista_02 = [2.0, 1.0, 0.0, 10.0]  # Lista de floats
lista_03 = [lista_01, lista_02]   # Criar lista de listas a partir de listas

In [9]:
# Acessar valores de uma lista
# Elas são indexadas por zero.
lista_02[0]

2.0

In [10]:
# Você também pode acessar lista dentro de listas
lista_03[0][1]

# Pode remover valores.
# Ex. Remover o primeiro item da lista
lista_01.pop(0)
print(lista_01)

[3, 5, 7, 9]

In [11]:
# Pode acrescentar valores
lista_01.append(10)
print(lista_01)

[3, 5, 7, 9, 10]

In [12]:
# Pode ordenar a lista também na ordem crescente e decrescente
crescente = sorted(lista_02)
decrescente = sorted(lista_02, reverse=True)
print(crescente, decrescente, sep='\n') # Imprime as listas ordenadas.

[0.0, 1.0, 2.0, 10.0]
[10.0, 2.0, 1.0, 0.0]

In [13]:
# Outros métodos podem ser usados em listas também como:
#   min(minha_lista) - retorna o menor valor da lista.
#   max(minha_lista) - retorna o maior valor da lista.
#   sum(minha_lista) - retorna a soma da lista.
#   len(minha_lista) - retorna o número de elementos da lista.

# Retorna a soma dos números da lista_01
sum(lista_01)

34

In [14]:
# Criar lista numéricas
list(range(10)) # Ou [range(10)]

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

### Exercício 03

Qual valor é extraído com o comando 'lista_01[3]'?

**Clique aqui para ver a resposta** 

<!--
7
-->

### Exercício 04

Qual o menor valor da lista abaixo.

In [0]:
# Não alterar linhas 2, 3 e 4.
import random
random.seed(42) # Fixa geração de números aleatórios.
lista_ex_04 = [random.randint(0,100) for x in range(100)] # Cria lista

# Seu código aqui.

**Clique aqui para ver a resposta**

<!--
min(lista_ex_04)
-->

## Tuplas (lista imutáveis)

In [16]:
tupla_1 = (1, 2, 3, 4)
tupla_1

(1, 2, 3, 4)

In [17]:
type(tupla_1)

tuple

In [18]:
# Acessar primeiro elemento da dupla
tupla_1[0]

1

## Sets

In [0]:
# Sets não possuem repetições.
lista_duplicada = [0, 1, 1, 0, 2, 3, 5]

In [20]:
meu_set = set(lista_duplicada)
print(meu_set)

{0, 1, 2, 3, 5}

### Exercício 05

Crie uma lista sem os elementos duplicados abaixo:

In [0]:
# Não alterar linha 2.
lista_ex_05 = [random.randint(0,10) for x in range(100)]

# Sua resposta.

**Clique aqui para ver a resposta**

<!--
list(set(lista_ex_05))
-->

## Strings

Strings são texto. É possível manipulá-las no python. 

Para uma lista compreensiva veja a [documentação oficial](https://docs.python.org/3/library/string.html).

In [22]:
# Exemplos de texto:
verdade_absoluta_01 = 'O Palmeiras não tem mundial'
verdade_absoluta_02 = " e o brasileiro de 1987 é do Flamengo"

verdade_absoluta_01 + verdade_absoluta_02

'O Palmeiras não tem mundial e o brasileiro de 1987 é do Flamengo'

In [0]:
# Existem diversas operações que podem ser feitas com strings. Exemplos:
texto = 'mesa,cadeira,caneta'

In [24]:
texto.split(',')

['mesa', 'cadeira', 'caneta']

In [25]:
verdade_absoluta_02.replace('Flamengo', 'Sport Club Recife')

' e o brasileiro de 1987 é do Sport Club Recife'

In [26]:
texto.upper().split(',')

['MESA', 'CADEIRA', 'CANETA']

### Exercício 06

Adicione o nome do seu time de coração na string abaixo:

In [0]:
cancao = '''Porque meu time bota pra ferver, 
E o nome dele são vocês que vão dizer 

Ô , ô , ô , ô , ô , ô , ô , ô , ô , ô , ô , ô Vasco!

Porque meu time bota pra ferver, 
E o nome dele são vocês que vão dizer 

Ô , ô , ô , ô , ô , ô , ô , ô , ô , ô , ô , ô Vasco!
'''

**Clique aqui para ver a resposta**

<!--
cancao.replace('Vasco', 'Seu time do Coracao aqui')
-->