<a href="https://colab.research.google.com/github/zetta-health/exp-curso-python-saude/blob/master/PySaude_03_python_analise_exploratoria_de_dados.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Análise exploratória de dados

## Abrir banco de dados e avaliar estrutura

In [0]:
import pandas as pd
import numpy as np
import io

In [0]:
from google.colab import files
uploaded = files.upload()

MessageError: ignored

In [0]:
data = pd.read_csv(io.BytesIO(uploaded['df_health_assessment_12m_v2.csv']))

In [0]:
data.head()

        id  ...  fez_>7_pos_13_Outpatient and Therapies QT
0  3652800  ...                                        0.0
1  3323500  ...                                        0.0
2  2258600  ...                                        0.0
3  1512100  ...                                        0.0
4   123600  ...                                        1.0

[5 rows x 126 columns]

In [0]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 959 entries, 0 to 958
Columns: 126 entries, id to fez_>7_pos_13_Outpatient and Therapies QT
dtypes: float64(62), int64(64)
memory usage: 944.1 KB

In [0]:
data.shape

(959, 126)

In [0]:
data.filter(regex=("after.*.cost")).sum(axis=1)

0       2947.63
1       3051.75
2       1015.71
3       1227.12
4       6287.32
         ...
954    76907.34
955      347.57
956    12150.25
957     1631.09
958    11240.67
Length: 959, dtype: float64

In [0]:
from google.colab import drive
drive.mount('/content/drive')

Go to this URL in a browser: https://accounts.google.com/o/oauth2/auth?client_id=947318989803-6bn6qk8qdgf4n4g3pfee6491hc0brc4i.apps.googleusercontent.com&redirect_uri=urn%3aietf%3awg%3aoauth%3a2.0%3aoob&response_type=code&scope=email%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdocs.test%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive.photos.readonly%20https%3a%2f%2fwww.googleapis.com%2fauth%2fpeopleapi.readonly

Enter your authorization code:
··········
Mounted at /content/drive

In [0]:
77 * 100

7700